SECRET_KEY="ваш секретный ключ"

# настройка БД
DATABASE_NAME="Название вашей базы данных"
DATABASE_USER="пользователь базы данных"
DATABASE_PASSWORD="пароль базы данных"
DATABASE_HOST="Хост" # localhost
DATABASE_PORT="Порт" # 5432

# настройка почты
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER="ваша почта@yandex.ru"
EMAIL_HOST_PASSWORD="пароль от почты"

# Режим работы приложения
DEBUG=True