{% extends 'medicine/base.html' %}
{% load my_tags %}
{% load static %}
{% include 'services/head_service.html' %}
{% block content %}

<body>


<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
            <use href="#moon-stars-fill"></use>
        </svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#sun-fill"></use>
                </svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark"
                    aria-pressed="true">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#moon-stars-fill"></use>
                </svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#circle-half"></use>
                </svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>

<main>
<!--начинается текст с картинками услуг-->

        <div class="row featurette">
            {% for service in services %}
            <hr class="featurette-divider ">
            <div class="col-md-8">
                <h2 class="featurette-heading fw-normal lh-5">{{ service.name }} <span
                        class="text-body-secondary">{{ service.price }} $</span></h2>
                <p class="lead">{{ service.description }}</p>
                <a class="btn btn-success text-primary-emphasis" href="{% url 'services:service_detail' service.pk %}"
                               role="button">Посмотреть</a>
            </div>
                <img  style="width: 350px; border-radius: 15%" src="{{service.photo | media_filter}}">
            {% endfor %}
        </div>
        <hr class="featurette-divider">
    </div><!-- /.container -->
</main>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
{% endblock %}